<IfModule mod_rewrite.c>
  RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    #RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/public/
    #RewriteRule ^(.*)$ public/$1

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^ public/index.php [L]

    # Redirect Any Requests For Non-existent Files To Laravel...
    #RewriteCond %{REQUEST_URI} !^/public/
    #RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/$1
   # RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(/)?$ public/index.php [L]
</IfModule>
